<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-4">
      <p>&copy; 2014 The Websters</p>
    </div>
    <div class="col-md-7">
      <copyright>The Legend of Zelda is owned by Nintendo and all references, images, fonts are used under fair use.</copyright>
    </div>
    <div class="col-md-1">
      <a href="{{ "/humans.txt" | prepend: site.baseurl }}">
        <img class="img-responsive center-block" src="{{ "/images/human.png" | prepend: site.baseurl }}">
      </a>
    </div>
  </div>
</div>
<script src="{{ "/assets/js/custom.js" | prepend: site.baseurl }}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2406517-12', 'auto');
  ga('send', 'pageview');

</script>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stats.samurailink3.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 4]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="http://stats.samurailink3.com/piwik.php?idsite=4" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
