<div class="container">
  <a href="{{ "/" | prepend: site.baseurl }}">
    <div class="row">
      <div class="col-xs-2">
        <img src="{{ "/images/link.png" | prepend: site.baseurl }}" class="img-responsive center-block" style="margin-top: 20%">
      </div>
      <div class="col-xs-8">
        <img src="{{ "/images/logo.png" | prepend: site.baseurl }}" class="img-responsive center-block">
      </div>
      <div class="col-xs-2">
        <img src="{{ "/images/zelda.png" | prepend: site.baseurl }}" class="img-responsive center-block" style="margin-top: 20%">
      </div>
    </div>
  </a>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand visible-xs" href="{{ "/" | prepend: site.baseurl }}"><img src="{{ "/images/heart.png" | prepend: site.baseurl }}" class="navimg"> Home</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li {% if page.navbar == 'Home' %}class="active hidden-xs"{% else %}class="hidden-xs"{% endif %}><a href="{{ "/" | prepend: site.baseurl }}"><img src="{{ "/images/heart.png" | prepend: site.baseurl }}" class="navimg"> Home</a></li>
          <li {% if page.navbar == 'RSVP' %}class="active"{% endif %}><a href="{{ "/rsvp" | prepend: site.baseurl }}"><img src="{{ "/images/key.png" | prepend: site.baseurl }}" class="navimg"> RSVP</a></li>
          <li {% if page.navbar == 'Map' %}class="active"{% endif %}><a href="{{ "/map" | prepend: site.baseurl }}"><img src="{{ "/images/map.png" | prepend: site.baseurl }}" class="navimg"> Map</a></li>
          <li {% if page.navbar == 'Timeline' %}class="active"{% endif %}><a href="{{ "/timeline" | prepend: site.baseurl }}"><img src="{{ "/images/time.png" | prepend: site.baseurl }}" class="navimg"> Timeline</a></li>
          <li {% if page.navbar == 'Registry' %}class="active"{% endif %}><a href="{{ "/registry" | prepend: site.baseurl }}"><img src="{{ "/images/rupee.png" | prepend: site.baseurl }}" class="navimg"> Registry</a></li>
          <li {% if page.navbar == 'Pictographs' %}class="active"{% endif %}><a href="{{ "/pictographs" | prepend: site.baseurl }}"><img src="{{ "/images/rupee.png" | prepend: site.baseurl }}" class="navimg"> Pics</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>