<div class="well">
<h3 class="center text-danger">Your Quest</h3>

<ol>
  <li>RSVP by sending an email to: <a href="mailto:thewebsters@weddingoftime.com">thewebsters@<br>weddingoftime.com</a></li>
  <li>Get the <a href="{{ "/map" | prepend: site.baseurl }}">dungeon map</a></li>
  <li>Review the <a href="{{ "/timeline" | prepend: site.baseurl }}">official timeline</a></li>
  <li>Check out the <a href="{{ "/pictographs" | prepend: site.baseurl }}">Pictographs</a></li>
</ol>
</div>