@font-face{ font-family: 'loz'; src: url('/assets/fonts/loz.eot'); src: url('/assets/fonts/loz.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/loz.woff') format('woff'), url('/assets/fonts/loz.ttf') format('truetype'), url('/assets/fonts/loz.svg#webfont') format('svg'); }
@font-face{ font-family: 'pretendo'; src: url('/assets/fonts/pretendo.eot'); src: url('/assets/fonts/pretendo.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/pretendo.woff') format('woff'), url('/assets/fonts/pretendo.ttf') format('truetype'), url('/assets/fonts/pretendo.svg#webfont') format('svg'); }

.center {
  text-align: center;
  vertical-align: middle;
}
.logo {
  color: inherit!important;
  text-decoration: none!important;
  outline: none!important;
}
.navimg {
  height: 25px;
  width:auto;
}
body {
  font-family: 'loz', Arial, sans-serif;
  background-color: #efdfd2;
  background-image: url(/images/bg.png);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: bottom left;
}
copyright {
  font-family: 'pretendo', Arial, sans-serif;
}
.navbar-nav {
  font-size: 12px;
}
ul.nav.navbar-nav li a {
  padding: 15px 10px;
}
@media (min-width: 768px){
  .navbar-nav{
      margin: 0 auto;
      display: table;
      table-layout: fixed;
      float:none;
  }
}
#bunny {
   background-image: url('/images/bunny1.png');
   height: 64px;
   width: 64px;
}

#bunny:hover {
   background-image: url('/images/bunny2.png');
}