<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
    {% include header.html %}
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          {% include sidebar.html %}
        </div>
        <div class="col-md-8">
          {{ content }}
        </div>
      </div>
    </div>
    {% include footer.html %}
    </body>
</html>